# ======================
# DATABASE
# ======================
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE_NAME"

# ======================
# BETTER-AUTH
# ======================
BETTER_AUTH_SECRET="your-secret-key-minimum-32-characters"
BETTER_AUTH_URL="http://localhost:3001"

# ======================
# GOOGLE OAUTH (opsional)
# ======================
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# ======================
# VITE (Frontend)
# ======================
VITE_API_URL="http://localhost:3001"

# ======================
# SERVER
# ======================
PORT=3001
